<div class="company">
   
   	<div class="head">
		<span ng-click="back()"><</span>
		<span>公司职位</span>
	</div>
	<div class="main">
		 
		<div class="med clearfix">
			<div class="left">
				<img ng-src="{{company.imageUrl}}" alt="">
			</div>
			<div class="right">
				<p>{{company.name}}</p>
			    <p>{{company.industry}}/{{company.state}}/{{company.people}}</p>
			</div>	
		</div>



		<div class="disc">
		     <h5>职位分类</h5>
		     <!-- $index指向当前点击元素的索引 -->
			 <button ng-click="showPositionList($index)" class="{{$index===isActive?'active':''}}"   ng-repeat="cls in  company.positionClass">{{cls.name}}</button>	 
		
		<ul class="detal">
		    <li ng-repeat="pos in  positionList">
		    	 <p  ng-bind="pos.name"></p>
			     <p  ng-bind="pos.createdDate"></p>
				 <span ng-bind="pos.salary"></span>
			</li> 
	    </ul>
	    </div>
	</div>
</div>