<!--自定义指令-->
<div class="searchheader">
       <!-- 点击取消按钮时要执行一个函数（搜索），一个表达式（name清空）用分号隔开， -->
		<button ng-click="name='';search()">取消</button>
        <input ng-module="name" type="text" placeholder="搜索职位/公司/城市">
       
        <button ng-click="search()"  > 
        <img src="images/search.png" alt="">搜索
        </button> 
</div>
  <div app-tab  list="tabList" tab-click="tClick(id,name)"></div>
<div class="searchList"  app-positon-list list="list" filter-obj="filterObj"></div>
<div app-footer></div>
<div app-sheet select="sClick(id,name)" list="sheet.list" visible="sheet.visible"></div>